@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
  font-size: 14px;
  color: $text-primary;
  background: $bg-color-page;
}

a {
  color: $primary-color;
  text-decoration: none;
}

// 滚动条
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: $border-color-base;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

// Element Plus 全局覆盖
.el-menu {
  border-right: none !important;
}